<%= form_with(model: @article, local: true ) do |form| %>

    <div style="margin-top:5em;">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>


    <div>
        <%= form.label :content%>
        <%= form.rich_text_area :content%>
    </div>


    <div>
        <%= form.label :status %>
        <%= form.number_field :status %>
    </div>

    <div>
        <%= form.submit %>
    </div>


<%end%>